<div class="container">
  <% @crafts.each do |craft| %>
    </div class = "row">
      <div class="card-product">
        <img src="https://picsum.photos/120" alt= 'Image of <%= craft.name %>' />
        <div class="card-product-infos">
          <h2><%= craft.name %></h2>
          <p><%= craft.price.to_i %>€</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
