<div class="container">
  <% @crafts.each do |craft| %>
    </div class = "row">
      <div class="card-product">
        <%= cl_image_tag craft.photo.key%>
        <div class="card-product-infos">
          <h2><%= craft.name %></h2>
          <p><%= craft.price.to_i %>€</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
