// Specific CSS for your home-page
.home-body {
  background-image: url("https://www.pngkey.com/maxpic/u2e6a9i1q8i1i1q8/");
  background-color: #cccccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
 }
