<%= simple_form_for [craft, booking] do |f| %>
  <p class ="text-center">Enter a suitable timeframe to schedule a workshop. The craftsman will follow up with you.</p>
  <label for="example-datetime-local-input">Date</label>    
  <input class="form-control" type="datetime-local" value="<%= Date.today %>" id="example-datetime-local-input">
  <label for="booking_description">Add any other relevant information</label>   
  <%= f.input :description, label: false %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
