
<div class="footer">

  <div class="footer-follow w200">
    <h5>Follow us</h5>
    <ul>
      <li><a href="https://www.instagram.com/crafts.feed/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li><a href="https://www.facebook.com/groups/545722376132269" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
    </ul>
  </div>

  <div class="footer-about w200">
    <h5>About</h5>
    <ul>
      <li>
        <a href="#" class="tab-underlined">Become craftsman</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">FAQ</a>
      </li>
    </ul>
  </div>

  <div class="footer-community w200">
    <h5>Community</h5>
    <ul>
      <li>
        <a href="https://www.menuisiers-belgique.be/" target="_blank" class="tab-underlined">Craft lovers</a>
      </li>
      <li>
        <a href="https://blog.koalaboox.com/etes-vous-un-artisan-made-in-belgium-faites-vous-certifier/" target="_blank" class="tab-underlined">Knitting lovers</a>
      </li>
    </ul>
  </div>

  <div class="footer-support w200">
    <h5>Support</h5>
    <ul>
      <li>
      <a href="https://www.menuisiers-belgique.be/" target="_blank" class="tab-underlined">Community</a>
      </li>
      <li>
      <a href="https://www.info-coronavirus.be/en/faq/" target="_blank" class="tab-underlined">Crafts & Covid19</a>
      </li>
    </ul>
  </div>  
</div>

