.craft-details {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 15px;
  }
  
  .craft-details > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .craft-details h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .craft-details p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  
  
  .craft-details .craft-details-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  
  .craft-details-infos .craft-details-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }

  .all-the-cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    padding-top: 0;
    flex-grow: 1;
    width: 1250px;
  }

  #map {
    height: 100vh;
    position: sticky;
    top: 0px;
  }