.craft-details {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 50px;
  height: 450px;
  padding:20px;
  min-width: 200px;
    
  & > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 21px;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
    opacity: .7;
    margin: 0;
  }
  
  
  .craft-details-infos {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
  }

}
  .craft-details-user {
    position: absolute;
    right: 16px;
    top: -60px;
  }

.craft-width {
  width: 550px;
}

.craft-details-bottom {
  display: flex;
  width: 200px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
.craft-details-pricing {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

// To have text cropped correctly in index
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: left;
  margin-right: -1em;
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3);  
}

.block-inline {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1);
}

.all-the-cards {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  padding-top: 0;
  flex-grow: 1;
  width: 1250px;
}

.clients-crafts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.name-font {
  font-family: $name-font;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .clients-crafts {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .clients-crafts {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .clients-crafts {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .clients-crafts {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .clients-crafts {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
